@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  background: transparent;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  background: transparent;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  background: transparent;
  font-size: 14px;
}

video {
 max-width: 1440px;
 width: 100%;
 height: 100vh;
 object-fit: cover;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

.share-icon ,
.menu-icon,
.fullscreen-icon {
  opacity: 100;
  transition: all 0.4 linear;
  cursor: pointer;
  &:hover {
    opacity: 40;
  }
}