$primary: #f3a952;
.slider {
  color: $primary !important;
}

.MuiSlider {
  &-root {
    height: 10px !important;
  }
  &-thumb {
    color: white;
    width: 20px !important;
    height: 20px !important;
  }
}

