$primary: #f3a952;
.slider {
  color: $primary !important;
}

.MuiSlider {
  &-root {
    height: 10px !important;
    padding: 5px 0 !important; 
  }
  &-thumb {
    color: white;
    width: 18px !important;
    height: 18px !important;
  }
}

.MuiSlider-thumb.Mui-focusVisible, .MuiSlider-thumb:hover {
  color: $primary;
  box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.3) !important;
}

